@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+3:wght@400;600&display=swap');




*, *:before, *:after {
    box-sizing: inherit;
}
body{
    max-width: 1200px;
    margin: 0 auto; 
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    
}
.section_header_1{
    display: flex;
    justify-content: space-evenly;
}
.menu {
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 600;
}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
}
  
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #FFFFFF;
    margin-bottom: 5px;
  }
  
.menu-items {
    display: flex;
    list-style: none;
  }
.menu-items li {
    margin-right: 20px;
}
.secrion_header{
    
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 600px;
}
.headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}
.content{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}
/* section section_for_second_column begins from here */
.section_for_second_column{
    display: flex;
    background: #EEEEEE;
    height: 800px;
    

}
.section_1{
    display: flex;
    /* margin-top: -15px; */
    flex-direction: column;
    justify-content: space-evenly;
    margin: 14px;
}
.section_headline_1{
    display: none;
}
.section_headline{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 145%;
    color: #464547;
}
.section_subtitle{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #666666;
}
.subtitle_text{
    display: flex;
    flex-direction: column;
}
.first_column_section{
    flex-basis: 40%;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    line-height: 138%;
    color: #666666; 
}
.second_column_section{
    flex-basis: 40%;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 138%;
    color: #666666;
}
.read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #55C2D8;
    color: #fff;
    text-decoration: none;
    border-radius: 18px;
    border: none;
    align-items: center;
    cursor: pointer;
}
/* this is for third section */
.image_box{
    display: flex;
    flex-direction: column;
    background-image: url(assets/IMG_1334_72dpi_RGB_\ 1.png);
    height: 600px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.learn_title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
}
.ellipse-box{
    background: #39C2D7;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.play-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-left: 16px;
}
.dis_auto{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;;
    text-align: center;
    color: #FFFFFF;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #464547;
    height: 200px;
}
.item_1{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;

}
.address{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}
.adress_2 a{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}
.year{
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);
}



@media (max-width: 768px) {
    .menu-items {
      display: none;
    }
  .hamburger {
      display: flex;
      margin-right: 30px;
      margin-top: 20px;
    }
    .section_header_1{
        justify-content: space-between;
    }
  }
@media(min-width: 768px){
    .section_headline{
        display: none;
    }
    .section_headline_1{
        display: flex;
        justify-content: center;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        color: #464547;
        text-align: center;
    }
    .section_subtitle{
        text-align: center;
    }
    .subtitle_text{
        flex-direction: row;
        justify-content: space-around;
    }
    .sectiion_button{
        text-align: center;
    }
    .footer{
        height: 160px;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: normal;
    }
    .item_1{
        flex-basis: 33.33%;
        display: flex;
        align-items: flex-start;
    }
    .small_logo{
        padding: 30px;
    }
    .item_2{
        flex-basis: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .item_3{
        flex-basis: 33.33%;
        display: flex;
        align-items: flex-end;
    }
}